:host {
  display: block;
}
h1 {
  position: relative;
  display: inline;

  button {
    position: absolute;
    right: 0;
    display: none;
    transform: translateX(100%);
  }

  &:hover {
    button {
      display: initial;
    }
  }
}
